{% extends "layout.html" %}

{% block heading %}
Title: {{bookName}} 
{% endblock %}
{% block body %}
<p>user: {{session["username"]}}  <a href="{{url_for('logout')}}">Logout</a></p>
<p>author: {{author}}</p>
<p>year: {{year}}</p>
<p>isbn: {{isbn}}</p>
<p>rating(out of 5): {{rating}}</p>
{%if review is not none%}
<ul>
<p>reviews:</p>
    {% for a in review %}
        <li><p>{{a}}</p></li>
    {% endfor %}
</ul>
{% endif %}

<p>submit a review below</p>
<form action="{{url_for('review', bookName = bookName)}}" method="post">
    <input type="text" name="review" placeholder="write here">
    <input type="text" name="rating" placeholder="rate out of 5">
    <button>Submit</button>
</form> 

{% endblock %}