{% extends "layout.html" %}

{% block heading %}
BookReviews
{% endblock %}

{% block body %}
<p>USER: {{session["username"]}}</p>
<p>click below to logout</p>
<a href="{{url_for('logout')}}">Logout</a>

<P>Enter the book name, ISBN number or Author name below</P>

<form action="{{ url_for('searchPage') }}" method="post">
    <input type="text" name="bookInfo" placeholder="Enter book details">
    <button>Submit</button>
</form> 

{%if bookResultsDict is not none%}
<ul>
    {% for book in bookResultsDict %}
        <li>
            <p>
                <a href="{{url_for('review', googleID=book.googleID)}}">{{book.title}}</a>
                <br>ISBN: {{book.ISBN}}  
                <br>Authors: 
                {% for author in book.authors %} 
                    <br>&nbsp;&nbsp;{{author}} 
                {% endfor %}
                {% if book.thumbnail %}
                    <br><img src="{{book.thumbnail}}">
                {% endif %}
            </p>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

